.todos {
  @include pxRem(padding, 15);
}
.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .todo-item-wrapper {
    @include pxRem(max-width, 550);
    @include pxRem(padding, 12 15);
    @include pxRem(border-radius, 5);
    @include pxRem(margin-bottom, 12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: map-get($color, white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .todo-info {
      display: flex;
      align-items: center;
    }
    .task-name {
      color: map-get($color, text);
    }
    .checkbox:checked + label {
      & + .task-name {
        color: map-get($color, success);
        opacity: 0.5;
      }
    }
    .btn-remove {
      color: map-get($color, text);
      padding: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: map-get($color, danger);
      }
    }
  }
}
